<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Speech Emotion Recognition Demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://markjivko.com/dist/recorder.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div id="loading" loading-active="False">
    <div id="loader"></div>
  </div>
  <div id="container">
    <header>Speech Emotion Recognition</header>
    <section id="model-section">
      <select name="model-selection" id="model-selection">
        <option disabled selected value> -- select a model -- </option>
      </select>
    </section>
    <section id="file-upload">
      <h1 class="file-upload-header">File Upload</h1>
      <form id="upload-form" action="#" drop-active="False" >
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Browse File to Upload</p>
      </form>
      <input type="file" id="file-input" multiple>
    </section>
    <section id="recording-section">
      <h1 class="recording-header">Record</h1>
      <div id="recording-control">
        <div data-role="controls">
          <button data-recording="">Record</button>
        </div>
      </div>
      
    </section>
    <section id="predict-button-section">
      <button data-role="predict-emotion-button">Predict Emotion</button>
    </section>
    <section id="audio-section">
      <div data-role="recordings">
        <!-- <div class="audio-row">
          <div class="audio-name">first.wav</div>
          <audio controls></audio>
          <a class="download">&#9660;</a>
          <a class="expand">&#x2B;</a>
          <ul id="testing1" class="emotion-result">
            <li class="emotion-container">
              <div class="emotion-section-result" style="background-color: #0093E9;background-image: linear-gradient(60deg, #0093E9 0%, #80D0C7 100%);"><span class="time">00:00 - 00:04</span><span class="emotion">Happiness</span></div>
              <div class="emotion-percentages">
                <div class="specific-emotion-percentage anger-emotion" style="width: 10%;">10%</div>
                <div class="specific-emotion-percentage excitement-emotion" style="width: 25%;">25%</div>
                <div class="specific-emotion-percentage frustration-emotion" style="width: 5%;"></div>
                <div class="specific-emotion-percentage happiness-emotion" style="width: 15%;">15%</div>
                <div class="specific-emotion-percentage neutral-emotion" style="width: 35%;">35%</div>
                <div class="specific-emotion-percentage sadness-emotion" style="width: 10%;">10%</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="audio-row">
          <div class="audio-name">second.wav</div>
          <audio controls></audio>
          <a class="download">&#9660;</a>
          <a class="expand">&#x2B;</a>
          <ul id="testing2" class="emotion-result">
            <li class="emotion-container">
              <div class="emotion-section-result" style="background-color: #0093E9;background-image: linear-gradient(60deg, #0093E9 0%, #80D0C7 100%);"><span class="time">00:00 - 00:04</span><span class="emotion">Happiness</span></div>
              <div class="emotion-percentages">
                <div class="specific-emotion-percentage anger-emotion" style="width: 10%;">10%</div>
                <div class="specific-emotion-percentage excitement-emotion" style="width: 25%;">25%</div>
                <div class="specific-emotion-percentage frustration-emotion" style="width: 5%;"></div>
                <div class="specific-emotion-percentage happiness-emotion" style="width: 15%;">15%</div>
                <div class="specific-emotion-percentage neutral-emotion" style="width: 35%;">35%</div>
                <div class="specific-emotion-percentage sadness-emotion" style="width: 10%;">10%</div>
              </div>
            </li>
            
            <li class="emotion-container">
              <div class="emotion-section-result" style="background-color: #0093E9;background-image: linear-gradient(60deg, #0093E9 0%, #80D0C7 100%);"><span class="time">00:00 - 00:04</span><span class="emotion">Happiness</span></div>
              <div class="emotion-percentages">
                <div class="specific-emotion-percentage anger-emotion" style="width: 10%;">10%</div>
                <div class="specific-emotion-percentage excitement-emotion" style="width: 25%;">25%</div>
                <div class="specific-emotion-percentage frustration-emotion" style="width: 5%;"></div>
                <div class="specific-emotion-percentage happiness-emotion" style="width: 15%;">15%</div>
                <div class="specific-emotion-percentage neutral-emotion" style="width: 35%;">35%</div>
                <div class="specific-emotion-percentage sadness-emotion" style="width: 10%;">10%</div>
              </div>
            </li>

            <li class="emotion-container">
              <div class="emotion-section-result" style="background-color: #0093E9;background-image: linear-gradient(60deg, #0093E9 0%, #80D0C7 100%);"><span class="time">00:00 - 00:04</span><span class="emotion">Happiness</span></div>
              <div class="emotion-percentages">
                <div class="specific-emotion-percentage anger-emotion" style="width: 10%;">10%</div>
                <div class="specific-emotion-percentage excitement-emotion" style="width: 25%;">25%</div>
                <div class="specific-emotion-percentage frustration-emotion" style="width: 5%;"></div>
                <div class="specific-emotion-percentage happiness-emotion" style="width: 15%;">15%</div>
                <div class="specific-emotion-percentage neutral-emotion" style="width: 35%;">35%</div>
                <div class="specific-emotion-percentage sadness-emotion" style="width: 10%;">10%</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="audio-row">
          <div class="audio-name">third.wav</div>
          <audio controls></audio>
          <a class="download">&#9660;</a>
          <a class="expand">&#x2B;</a>
          <ul id="testing3" class="emotion-result"></ul>
        </div> -->
      </div>
    </section>

    <!-- <div id="upload-progress-area">
        <li class="upload-row">
          <i class="fas fa-file-alt"></i>
          <div class="upload-content">
            <div class="upload-details">
              <span class="upload-name">audio.wav - Uploading</span>
              <span class="upload-percent">50%</span>
            </div>
            <div class="progress-bar">
              <div class="progress"></div>
            </div>
          </div>
        </li>
      </div>
      <div id="uploaded-area">
        <li class="upload-row">
          <div class="upload-content">
            <i class="fas fa-file-alt"></i>
            <div class="upload-details">
              <span class="name">audio.wav - Uploaded</span>
              <span class="size">70 KB</span>
            </div>
          </div>
          <i class="fas fa-check"></i>
        </li>
      </div>  -->
  </div>
  <section id="mel-spectrogram-section" show="False">
    <button id="close-mel-spectrogram"><span>X</span></button>
    <!-- <div class="horizontal-scroll"> -->
      <!-- <div class="predicted-container">
        <h2 class="predicted-emotion">Frustration</h2>
        <h3 class="audio-filename">jklfjds.wav</h3>
        <div class="mel-spectrogram-image-container">
          <img src="https://miro.medium.com/max/1400/1*zX-rizZKXXg7Ju-entot9g.png" alt="mel spectrogram image" class="mel-spectrogram-image" />
        </div>
      </div>
      <div class="predicted-container">
        <h2 class="predicted-emotion">Frustration</h2>
        <h3 class="audio-filename">jklfjds.wav</h3>
        <div class="mel-spectrogram-image-container">
          <img src="https://miro.medium.com/max/1400/1*zX-rizZKXXg7Ju-entot9g.png" alt="mel spectrogram image" class="mel-spectrogram-image" />
        </div>
      </div> -->
    <!-- </div> -->
  </section>
</body>
</html>